@media only screen and (min-width: 600px) {
  main {
    display: flex;
    justify-content: space-between;
  }

  .side-nav {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: auto;
  }

  article {
    height: 100vh;
    overflow: auto;
  }

  nav h1 {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    color: black;
    /* padding: 10px 0; */
    text-align: center;
  }
}
